@media (max-width: 1112px) {
    .phone {
        font-size: 1.5rem;
    }

    .container {
        width: 920px;
    }

}

@media (max-width: 950px) {
    .container {
        width: 820px;
    }
}

@media (max-width: 862px) {
    .container {
        width: 750px;
    }

    #hero {
        background-image: none;
        text-align: center;
    }
}

/* @media (max-width: 812px) {
    .header {
        width: 100%;
        display: block;
    }
} */
 @media (max-width: 590px) {
    .header__navigation {
        flex-wrap: wrap;
        justify-content: center;  
    }

    .about__title {
        font-size: 3.5rem;
    }

    .phone {
        font-size: 1.2rem;
    }

    .phone-button {
        padding: 5px 15px;
    }

    .navigation {
        margin-bottom: 20px;
    }
 } 

 @media (max-width: 414px) {
   
 } 