* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-size: 1.4rem;
    font-family: 'Lato', sans-serif;
}

a {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.header {
    /* border: 1px solid red; */
    z-index: 9;
    height: 84px;
    display: flex;
    align-items: center;
}

.header__navigation {
    /* border: 1px solid red; */
    margin-top: -5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    /* border: 1px solid red; */
    display: flex;
    list-style: none;
}

.navigation__item {
    text-decoration: none;
    color: #000000;
    margin-right: 20px;
}

.navigation__item:hover {
    color: #f06c64;
    border-bottom: 1px solid #f06c64;
}

.item-active {
    color: #f06c64;
    border-bottom: 1px solid #f06c64;
}

.info {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
}

.phone-button {
    margin-left: 30px;
    padding: 10px 20px;
    color: #f06c64;
    border: 1px solid #f06c64;
    background: none;
}

/*  ###################### HERO ##################### */

#hero {
    height: 100vh;
    background-image: url(./img/Dmitry\ Alekseev.png);
    background-repeat: no-repeat;
    background-position: right -100px center;
    display: flex;
    align-items: center;
}

.about__title {
    font-size: 5rem;
}

.about__subtitle {
    font-size: 1.8rem;
    color: #979797;
    padding: 20px 0;
}

.about__button {
    background-color: #f06c64;
    color: #ffffff;
    padding: 15px 45px;
    border: none;
}

.logo {
    width: 500px;
}

/*  ###################### HERO ##################### */